.pc-tab > input,
.pc-tab section > div {
  display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3 {
  display: block;
}

.pc-tab {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.pc-tab ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pc-tab ul li label {
  float: left;
  padding: 15px 25px;
  border: 1px solid #dddddd;
  border-bottom: 0;
  background-color: #eeeeee;
  color: #444444;
}

.pc-tab ul li label:hover {
  background-color: #dddddd;
}

.pc-tab ul li label:active {
  background-color: #ffffff;
}

.pc-tab ul li:not(:last-child) label {
  border-right-width: 0;
}

.pc-tab section {
  clear: both;
}

body {
  background-color: #dddddd;
}

.App {
  background-color: #3f3160;
  min-height: 500px;
  width: 600px;
  margin: 40px auto;
}

form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

#to-do-form input {
  background-color: rgb(27, 112, 137);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
}

#to-do-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#to-do-form input:focus,
#to-do-form input button:focus {
  outline: none;
}
#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: yellowgreen;
  cursor: pointer;
  font-weight: bolder;
  color: #ffffff;
}
